<template>
  <div id="app">
    <h1>{{ title }}</h1>
    <section>
      <h2>Buttons</h2>
      <aside>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</aside>
      <div>
        <!-- router-link variation on v-button component. Takes "destination" attribute for routing -->
        <v-button text="I'm a router link" type="routerLink" destination="/styleguide"></v-button>

        <!-- anchor variation on v-button component.  normal href is used, but a # must be appended to route properly. -->
        <v-button text="I'm an anchor" type="link" appearance="primary" href="#/styleguide"></v-button>

        <!-- button variation on v-button component.  v-on:click requires .native modifier and programmatic wiring to follow routes. -->
        <v-button text="I'm a button" appearance="secondary" @keyup.enter="submit" v-on:click.native="onReturn"></v-button>
      </div>
    </section>
  </div>
</template>

<script>
import vButton from '../../components/common/buttons/button';

export default {
  name: 'Styleguide',
  data() {
    return {
      title: 'Valiance Styleguide',
    };
  },
  components: {
    vButton,
  },
  methods: {
    onReturn() {
      this.$router.push('/');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
