/// Auto-generates a linear gradient via a 'from' and 'to' color
/// @example .foo { @include linear-gradient($brand-primary, $brand-secondary); }
/// @arg {string} $from-color - Starting color.
/// @arg {string} $to-color - Ending color.
@mixin linear-gradient($from-color, $to-color) {
  background-color: $to-color; /* Fallback Color */
  background-image: linear-gradient(
  		to bottom,
  		$from-color,
  		$to-color
  	);
}

/// Auto-generates a background color with faded lines of the same color via the $bg color.
/// @example .foo { @include line-gradient(-45deg, $brand-primary, 3%); }
/// @arg {number} $angle - desired angle of lines.
/// @arg {string} $bg - background color.
/// @arg {string} $shade-value - a value expressed as a percentage which determines the strength of the shade operation.
@mixin line-gradient($angle: -45deg, $bg: #555, $shade-value: 15%, $size: 3.5px) {

	@if $size % 2 != 0 {
	  $size: $size + 1px;
	}

	background-image: linear-gradient($angle,
		$bg 25%,
		shade($bg, $shade-value) 25%,
		shade($bg, $shade-value) 50%,
		$bg 50%,
		$bg 75%,
		shade($bg, $shade-value) 75%,
		shade($bg, $shade-value)
	);
	background-size: $size $size;

	/* because Firefox can't get its math straight! */
	@-moz-document url-prefix() {
		background-size: 5px 5px;
	}
}