/*======================================
=            Utility Mixins            =
======================================*/

/// Clears the selected element
/// @example .class-name { @extend clearfix; }
%clearfix {
    &::before,
    &::after {
        display: table;
        content: '';
    }
    &::after {
        clear: both;
    }
}

/// Clears the selected element in a media query.
/// NOTE: Use this ONLY in media queries.
/// Otherwise use @extend clearfix.
/// @example .class-name { @include clearfix; }
@mixin clearfix {
    &::before,
    &::after {
        display: table;
        content: '';
    }
    &::after {
        clear: both;
    }
}

/// Hide element visually, but retain ability to be seen by screen readers.
/// @example .class-name { @extend %visually-hidden; }
%visually-hidden,
.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);

    /* Extends the .visuallyhidden class to allow the element
    to be focusable when navigated to via the keyboard: h5bp.com/p */
    &.focusable:active,
    &.focusable:focus {
        position: static;
        overflow: visible;
        width: auto;
        height: auto;
        margin: 0;
        clip: auto;
    }
}

/// Print Visbility
.print-only,
.show-for-print { display: none; }

@media print {
    .print-only,
    .show-for-print { display: block; }
}

/// Attempts to align the element vertically.
///
/// @example
/// .element p { @include vertical-align; }
///
/// /* To avoid blurriness, parent may require */
/// .parent-element { -webkit-transform-style: preserve-3d; }
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/// Adjusts the opacity on elements
/// @example
/// .foo { @include opacity(.75); }
/// @arg {string} $opacity - Opacity Value ranging from 0 - 1.
/// @deprecated Autoprefixer now performs this function.
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

/// Center aligns a block level element
/// @example
/// .footer {
///   width: 450px;
///   @include center-block;
/// }
@mixin center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}