<template>
  <div id="app">
    <img src="./assets/logo.png"><br>
    <!-- router-link variation on v-button component. Takes "destination" attribute for routing -->
    <v-button text="I'm a router link" type="routerLink" destination="/styleguide"></v-button>

    <!-- anchor variation on v-button component.  normal href is used, but a # must be appended to route properly. -->
    <v-button text="I'm an anchor" type="link" appearance="primary" href="#/styleguide"></v-button>

    <!-- button variation on v-button component.  v-on:click requires .native modifier and programmatic wiring to follow routes. -->
    <v-button text="I'm a button" appearance="secondary" @keyup.enter="submit" v-on:click.native="onStyleGuide"></v-button>

    <!-- a typical router-link -->
    <router-link to="/styleguide">I'm a normal router-link</router-link>
    <hello></hello>
  </div>
</template>

<script>
import Hello from './components/Hello';

import vButton from './components/common/buttons/button';

export default {
  name: 'app',
  components: {
    Hello,
    vButton,
  },
  methods: {
    onStyleGuide() {
      this.$router.push('styleguide');
    },
  },
};
</script>

<style lang="scss">
@import './src/assets/styles/global.scss';

#app {
  text-align: center;
  margin-top: 60px;
}
</style>
